/*global*/
body {
	box-sizing: border-box;
	background: url(../images/footer_lodyas2.png);
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}


/*header*/
header {
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	width: 100%;
	/*padding: 5px 0;*/
}

header h1 {
	color: white;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 35px;
	float: left;
	margin-left: 5%;
}

/*nav*/

.nav li {
	float: right;
	margin: 1.5% 4% 0 0;
	list-style: none;
	display: inline;
	position: relative;
}

.nav a {
	font-size: 20px;
	color: #8F8F8F;
}

.work-links {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	padding: .3em .5em .5em .5em;
	position: absolute;
	top: 2em;
	left: 0;
}

.work-links li{
	display: none;
	float: none;
	margin: 0px 0px 5px 0px;
	text-align: left;
}

/*blurb*/
.blurb {
	height: 450px;
	margin: auto;
	width: 80%;

}


/*features*/
.features {
	color: #8F8F8F;
}

.features h1 {
	text-align: center;
}

.features img {
	width: 35%;
	height: auto;
	margin: 2% 7.5% 2% 7.5%;
}

.feature1 {
	background-color: rgba(0, 26, 47, 0.9);
	display: block;
	width: 100%;
	overflow: hidden;
}

.feature1 img {
	float: left;
}

.feature1-text {
	width: 35%;
	height: auto;
	float: right;
	text-align: center;
}

.feature2 {
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	width: 100%;
	overflow: hidden;
}

.feature2 img {
	float: right;
}

.feature2-text {
	width: 35%;
	height: auto;
	float: left;
	text-align: center;
}

/*Visual Page*/
.v-work {
	display: inline-block;
	width: 40%;
	color: white;
	padding: 4%;
}

.v-work img {
	width: 50%;
	float: left;
}

.v-description {
	width: 35%;
	float: right;
	padding: 3%;
}