/*global*/
body {
	background: white;
	background-size: cover;
}

a {
	text-decoration: none;
}


/*header*/
header {
	text-transform: uppercase;
	background-color: black;
	display: inline-block;
	width: 100%;
	padding: 1em 0em;
	text-align: center;
}

header h1 {
	/*float: left;*/
	color: white;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 35px;
}

.overlay{
	position: absolute;
	width: 35%;
	height: auto;
	background: red;
	display: none;
}

/*nav*/
.nav li {
	list-style: none;
	display: inline;
}

.nav a {
	margin: 3% 4% 0 0;
	font-size: 16px;
}

.work-links {
	display: none;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	position: relative;
}

.work-links li{
	display: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	border: 1px solid black;
	text-align: left;
}

/*features*/
.features {
	margin-top: 3em;
}

.features img {
	width: 35%;
	height: auto;
	display: inline-block;
	float: left;
	margin: 2% 7.5% 0 7.5%;
}

.feature-text span {
	display: inline-block;
	width: 35%;
	height: auto;
	display: inline-block;
	float: left;
	margin: 2% 7.5%;
	text-align: center;
}

.hovertext {
	background-color: rgba(28, 0, 35, 0.4);
}